body {
  display: flex;
  margin: 0;
  justify-content: center;
  background-color: black;
  font-family: 'Short Stack', cursive;
}
#wallpaper {
  opacity: 30%;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#wallpaper2 {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: white;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.container {
  display: flex;
  z-index: 1;
}

p {
  text-align: center;
  color: white;
  font-size: 20px;
}

@keyframes bounce {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

/* ==================================
    ============= SLIDE 1 ==========
 ==================================== */

.slide1 {
  display: block;
  margin-top: 35vh;
}

.kosong {
  display: flex;
  justify-content: center;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.kadopng {
  display: flex;
  justify-content: center;
  animation: bounce 1s;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-animation: ;
}

.slide1 img {
  animation-delay: 2s;
  width: 100px;
}

/* ==================================
    ============= SLIDE 2 ==========
 ==================================== */

#ballooncontainer {
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  display: none;
  flex-wrap: wrap;
  overflow: hidden;
  position: fixed;
}

.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: relative;
}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #fdfd96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
  content: "▲";
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes float {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }
  to {
    transform: translateY(-300vh);
    opacity: 0;
  }
}

.slide2 {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
}

.slide2 img {
  position: fixed;
  width: 100vw;
}

@keyframes bouncebawah {
  0% {
    margin-top: -130px;
  }
  50% {
    margin-top: 70px;
  }
  100% {
    margin-top: 60px;
  }
}
@keyframes bouncebawah2 {
  0% {
    margin-top: -130px;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 5px;
  }
}
@keyframes confetti {
  0% {
    margin-top: -100vh;
  }
  100% {
    margin-top: 0;
  }
}
.textawal {
    margin-top: -130px;
}

.happyText {
  margin-top: 5px;
  transition: all ease;
  animation: bouncebawah2 2s;
  -webkit-transition: all ease;
  -moz-transition: all ease;
  -ms-transition: all ease;
  -o-transition: all ease;
  -webkit-animation: bouncebawah2 2s;
}
.birthdayText {
  margin-top: 60px;
  transition: all ease;
  animation: bouncebawah 2s;
  -webkit-animation: bouncebawah 2s;
  -webkit-transition: all ease;
  -moz-transition: all ease;
  -ms-transition: all ease;
  -o-transition: all ease;
}